@media screen and (max-width:576px){
    nav,
    nav .menu{
        flex-direction: column;
        align-items: center;
    }

    header{
        margin: 20px;
    }

    .menu{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menu a .fa-solid{
       gap: 8px;
    }

    .banner,
    .feature-section{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .img-container img{
        width: 90%;
        height: 190px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }

    .banner-text-container{
        text-align: center;
        margin-top: 20px;
    }

    .banner-text-container h1{
        font-size: 1.75rem;
        line-height: 40px;
    }

    /* sponsor section */
    .sponsors-section{
        margin-left: 10px;
        margin-right: 10px;
    }

    .sponsors-img{
        flex-wrap: wrap;
        gap: 20px;
    }

    .see-more{
     left: 70%;
    }


    /* card section */

    .card-section{
        margin: 0 10px;
    }
    .grid-container{
        grid-template-columns: 1fr;
    }
    
    .single-gear img{
        width: 90%;
        object-fit: cover;
        display: block;
    }

    /* featured section */
    .feature-section{
        margin: 70px 10px;
        text-align: center;
        gap: 40px;
    }

    .btn-second{
        margin-top: 20px;
    }
}