@media screen and (max-width:576px){
    nav,
    nav .menu{
        flex-direction: column;
        align-items: center;
    }

    header{
        margin: 20px;
    }

    .menu{
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .menu a .fa-solid{
       gap: 8px;
    }

    .banner{
        flex-direction: column-reverse;
        justify-content: center;
    }

    .img-container img{
        width: 90%;
        height: 190px;
        display: block;
        margin: 0 auto;
        object-fit: cover;
    }

    .banner-text-container{
        text-align: center;
        margin-top: 20px;
    }

    .banner-text-container h1{
        font-size: 1.75rem;
        line-height: 40px;
    }

}